apiVersion: v1
kind: Pod
metadata:
  name: webapp-color-env-from-configmap
spec:
  containers:
  - image: mmumshad/simple-webapp-color
    env:
    # It will accept APP_COLOR as environment variable (Line 39 app.py)
    - name: APP_COLOR
      valueFrom: 
        configMapKeyRef:
          name: webapp-config
          key: COLOR_ENV
    name: webapp-color
    # volumeMounts:
    # - name: html
    #   mountPath: /var/htdocs
  # - image: nginx:alpine
  #   name: web-server
  #   volumeMounts:
  #   - name: html
  #     mountPath: /usr/share/nginx/html
  #     readOnly: true
    ports:
    - containerPort: 8080
      protocol: TCP
  # volumes:
  # - name: html
  #   emptyDir: {}

